<!DOCTYPE html>
<html>
<head>
  <title>Palantir</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield :header %>
</head>
<body>

<div class='jumbotron'>
  <div class='container'>
    <div class='row'>
      <%= link_to('Sign out', destroy_user_session_path, method: :delete, class: 'float-right btn btn-danger') if current_user %>
    </div>
    <div class='row'>
      <div class='col-md-3'>
        <h1>Palantir</h1>
      </div>
    </div>

    <div id='content'>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
